@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-blue: #00AAFF;
  --color-green: #00FF6C;
  --color-display-bg: rgba(0, 0, 0, .75);
  --color-display-1: rgba(255, 255, 255, 1);
  --color-display-2: rgba(255, 255, 255, .75);
  --transition: 0.2s linear;
  --animation-keypress: translate(2px, 2px);
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, var(--color-blue), var(--color-green));
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;

  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid white;
  background-color: var(--color-display-2);
  transition: background-color  var(--transition);
}

.calculator-grid > button:hover {
  background-color: var(--color-display-1);
  transition: background-color var(--transition);
}

.calculator-grid > button:active,
.calculator-grid > button.key-pressed {
  background-color: var(--color-display-1) !important;
  transform: var(--animation-keypress);
}

.display {
  grid-column: 1 / -1;
  background-color: var(--color-display-bg);
  color: var(--color-display-1);
  padding: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand {
  color: var(--color-display-2);
  font-size: 1.5rem;
}

.current-operand {
  color: var(--color-display-1);
  font-size: 3rem;
}
.span-two {
  grid-column: span 2;
}